################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevExWinformsVB/bin/Debug
/DevExWinformsVB/obj/Debug
