################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevExWinformsVB/bin/Debug
/DevExWinformsVB/obj/Debug
/DevExReportChart/obj/x86/Debug
/DevExReportChart/bin/Debug
/DiagramControl/bin/Debug
/DiagramControl/obj/Debug
/WindowsFormsApplication1/bin/Debug
/WindowsFormsApplication1/obj/x86/Debug
/XtraGridControl/bin/Debug
/XtraGridControl/obj/Debug
*.user
/XtraReportTreemap/bin/Debug
/XtraReportTreemap/obj/Debug
/.vs
/DevExMVCCoreWeb/obj
/DevExMVCWeb/bin
/DevExMVCWeb/obj/Debug
/packages/WebGrease.1.5.2
/packages/System.Data.SQLite.Linq.1.0.92.0
/packages/System.Data.SQLite.EF6.1.0.92.0
/packages/System.Data.SQLite.Core.1.0.92.0
/packages/System.Data.SQLite.1.0.92.0
/packages/Respond.1.2.0
/packages/Newtonsoft.Json.6.0.4
/packages/Modernizr.2.6.2
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Net.Compilers.2.1.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/packages/Microsoft.AspNet.Razor.3.2.3
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0
/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0
/packages/Microsoft.ApplicationInsights.Web.2.2.0
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6
/packages/Microsoft.ApplicationInsights.2.2.0
/packages/jQuery.Validation.1.11.1
/packages/jQuery.1.10.2
/packages/EntityFramework.6.0.0
/packages/bootstrap.3.0.0
/packages/Antlr.3.4.1.9004
