<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="GridSamples.My.MySettings.BMI6ConnectionString" connectionString="Data Source=68.61.22.112,55450;Initial Catalog=2020BEAMSandbox;Persist Security Info=False;User ID=BeamUser;Password=5yf8mSqqm!3fv6"
      providerName="System.Data.SqlClient" />
    <add name="BEAMEntities" connectionString="metadata=res://*/Entities.BeamDataModel.csdl|res://*/Entities.BeamDataModel.ssdl|res://*/Entities.BeamDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.61.22.112,55450;initial catalog=2020BEAMSandBox;persist security info=True;user id=BeamUser;password=5yf8mSqqm!3fv6;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>