<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevExReportChart.Properties.Settings.eplusoutConnectionString" connectionString="data source=&quot;D:\Repositories\MyProject\DevExReportChart\DevExReportChart\DB\ASHRAE-7_VAV with Reheat_V25\Baseline Design\Configuration 1\SimRun1\eplusout.sql&quot;" providerName="System.Data.SQLite"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
